//
// Portfolio 
// needs refactors

#portfolio {
	.portfolio-piece {
		@extend %clearfix;
		@extend %drawn-rectangle;
		margin-top: em(22px);
		margin-bottom: em(10px);
		padding: em(18px);
		.portfolio-txt {
			@include mq(large) {
				margin-top: em(34px);
				text-align: left;
				float: right;
				margin-right: em(6px);
			}
		}
		a.find-out-more {
			box-sizing: border-box;
            width: em(152.5px);
            padding: em(8px) em(8px) em(8px) 0;
            color: $colour-primary; 
			display: block;
    		font-size: em(15px);
    		font-weight: $font-weight--bold;
    		font-family: $font-family--secondary;
			border: em(0.01px) solid transparent;
			margin: 0 auto;
			&:hover {
				@extend %nav-item-on;
			}
			@include mq(medium) {
				width: em(180px);
			    font-size: em(19.5px);
			}
			@include mq(large) {
				margin: 0 0 0 -40px;
				padding-left: em(24px);
				text-align: left;
			}
		}
	}
	@include mq(large) {
		margin-left: em(220px);	
	}

}

#portfolio-expanded {
	@extend %clearfix;
	margin-top: em(18px);
	margin-bottom: em(12px);
	padding: em(20px);
	text-align: left;

	h3 {
		font-size: em(26px);
		padding-top: em(12px);
		padding-bottom: em(10px);
		@include mq(medium) {
			font-size: em(28px);	
		}
	}
	h4 {
		font-size: em(22px);
		padding-top: em(10px);
		padding-bottom: em(8px);	
	}
	ul {
		li {
			&:before {
				font-family: $font-family--secondary;
				font-weight: $font-weight--bold;
				content: "- ";
			}
		}
	}
	.internal-page-links {
		box-sizing: border-box;
		font-size: em(20px);
		@include mq(medium) {
			font-size: em(28px);	
		}
		a {
			colour: $colour_primary;
			border: 0.01px solid transparent;
			padding: em(7px);
			box-sizing: border-box;
			&:hover {
				@extend %nav-item-on;
			}

		}
		
	}
	
	// styles for other_projects' interaction design example; prefixed with gif because of these elements' intended juxtaposition with an included .gif animation
	
	#gif-wrapper {
		position: relative;
		width: em(574px);
		height: em(315px);
		background-color: #03A9F4;
		margin: 0 auto;
		max-width: 100%;
	}

	#gif-circle {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background-color: #f44e03;
		border-radius: 100%;
		width: em(87.404px);
		height: em(87.404px);
		cursor: pointer;
	}

	#gif-lineWrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: em(50px);
		height: em(63px);
		transition: .21s ease-in-out;
	}

	#gif-lineWrapper div:nth-child(1) {
		top: em(8px);
		transform-origin: right center;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-o-transform-origin: right center;
	}

	#gif-lineWrapper.clicked div:nth-child(1) {
		top: em(-3px);
		left: em(7px);
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	}

	#gif-lineWrapper div:nth-child(2) {
		top: em(14px);
		transform-origin: left center;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
	}

	#gif-lineWrapper.clicked div:nth-child(2) {
		opacity: 0;
	}

	#gif-lineWrapper div:nth-child(3) {
		top: 21px;
		transform-origin: right center;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-o-transform-origin: right center;
	}

	#gif-lineWrapper.clicked div:nth-child(3) {
		top: 39px;
		left: 8px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}

	#gif-lineWrapper.clicked {
		transform: translate(em(-7.2px), em(-1.3px));
		-webkit-transform: translate(em(-7.2px), em(-1.3px));
		-moz-transform: translate(em(-7.2px), em(-1.3px));
		-o-transform: translate(em(-7.2px), em(-1.3px));
	}	

	.gif-line {
		background-color: white;
		width: em(50px);
		height: em(6px);
		margin-top: em(12px);
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transition: .21s ease-in-out;
		-webkit-transition: .21s ease-in-out;
		-moz-transition: .21s ease-in-out;
		-o-transition: .21s ease-in-out;
	}
}



