//
// IDs and Classes
// (maybe temp. as I do refactors and decide on better homes for each)


.blockquote {
	font-size: em(20px);
	color: $colour-accent;
	font-weight: $font-weight--bold;
    font-family: $font-family--secondary;
	margin: em(32px, 26px) 0;
	text-align: center;
	@include mq(medium) {
		font-size: em(28px);
	}
}

.blockquote:before {
	content: url(#{$path--rel}/misc/MISC_BlockLine1.png);
	display: block;
	width: 100%;
	margin: em(20px) auto;
}

.blockquote:after {
    content: url(#{$path--rel}/misc/MISC_BlockLine3.png);
    display: block;
	width: 100%;
	margin: em(20px) auto;
}

img {
	height: auto;
	margin: em(5px) 0 em(5px) 0;
}

.font-primary {
    font-size: em(16px);
    font-family: $font-family--primary;
    font-weight: 500;
    letter-spacing: 0;
}

.italic {
    font-style: italic;
}

.bold {
	font-weight: $font-weight--bold;	
}

.blue {
	color: $colour-primary;
}

.red {
	color: $colour-secondary;
}

//.internal-page-links {
//    box-sizing: border-box;
//    font-size: em(20px);
//	color: $colour-primary;
//    @include mq(medium) {
//        font-size: em(28px);	
//    }
//    a {
//        border: 0.01px solid transparent;
//        padding: em(7px);
//        box-sizing: border-box;
//        &:hover {
//            @extend %nav-item-on;
//        }
//    }
//}