@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed|Roboto);

#{headings()} {
     font-family: $secondary-font;
     font-weight: bold;
     color: #333;
}

body {
     a {
          text-decoration: none;
          &:visited {
               text-decoration: none;   
          }
     }
//     background: #fcfcfc;
     background: #eee;
     font: 1.06rem $primary-font;
     line-height: 160%;
}

main, header, footer {
     width: 90%;
     margin: 0 auto;
}

footer p {
     color: #aaa;
     font-size: 0.75rem;
     text-align: center;
}

header {
     margin-top: 8px;   
}

.page {
     border-bottom: 2.33px solid $main_color;   
}

.italic {
     font-style: italic;   
}
