// Susy 

$total-columns      : 12;
$column-width       : 4em;
$gutter-width       : 1em;
$grid-padding       : $gutter-width;

@include border-box-sizing;

$small              : 30em;
$medium             : 47em;
$large              : 75em;

.layout {
//    @include container;
    padding: 0.25%;
    @include clearfix;  
}

// Header

header {
    @include clearfix;
     .logo {
          img {
               width: 201px;
//               @include clearfix;
          }
     }
     p {
         color: #919191;
         font-size: 0.79rem;
         margin: 15.4px 0 8px 0;
     }
    
    .personal-description {
         text-align: center;
         font-weight: bold;
         @include at-breakpoint($large) {
             display: inline;
             font-size: 0.8em;

         }
    @include at-breakpoint($large) {
//         position: relative;      
    }
}
    
// Header - Navigation
    
     .nav {
         
         li {
             color: $main_color;
             font-weight: bold;
             font-size: 1.018rem;

             a {
                  color: #333;
                  &:hover {
                      border-bottom: 2.33px solid $main_color;   
                  }
                  &:visited {
                      text-decoration: none;   
              }
            }
        }
        @include at-breakpoint($large) {
            display: inline;
            margin-top: 3.83em;
        }    
     }

}
