// Logo

.logo {
     text-align: center;   
     img {
         text-align: center;
         @include at-breakpoint($medium) {
            text-align: left; 
         }
     }
     @include at-breakpoint($large) {
          @include single-transition(all, 1s ease-in);
          @include float-left;
     }   
}

// Nav

.nav {
     text-align: center;
     li {
          display: inline-block;
          margin: 8px 15px 0;
          font-size: 1.15rem;
     }
     @include at-breakpoint($large) {
          @include float-right;
          display: inline;
     }    
}

// Portfolio

.portfolio {
     margin: 0 auto;
     width: 90%;
//     img[src="img/portfolio/ccrc.png"], img[src="img/portfolio/fvc.png"] {
//         max-width: 250px;   
//     }
//     img[src="img/portfolio/viso.png"], img[src="img/portfolio/website.png"] {
//         max-width: 250px;   
//     }
     .portfolio-image {
         margin-top: 18px; 
         width: 88.5%;
         max-width: 250px;
         @include at-breakpoint($medium) {
              @include single-transition(all, 1s ease-out);
              margin-top: 32.7px;
         }
     }
     .portfolio-item {
         background: #fff;
         border: 1px solid #ddd;
         margin: 20px 0;
         padding: 20px;
         text-align: center;
         .portfolio-text {
              color: #222;
              margin-top: 10px;
              h3 {
                   font-size: 2rem;
                   margin: 20px 0 10px 0;
              }
         }
    }
    @include at-breakpoint($medium) {
         @include single-transition(all, 1s ease-in-out);
         width: 72.67%;   
    }
}

// Social Media Icons

.social-media-links {
    margin: 0 auto 20px auto;
    text-align: center;
    ul {
        text-align: center;
        li {
            display: inline-block;
            margin-left: 5px;

            img {
                    width: 40px;   
               }
        }
        li:first-child {
             margin-left: 0px;   
        }
        
    }
//    width: 12.5%;
    @include at-breakpoint($medium) {
        ul {
            margin-top: 0;
        }
    }
}

footer {
    @include at-breakpoint($medium) {
        p {
             @include span(12 of 12);
             display: inline;
        }

        .social-media-links {
             @include span(4 last);
             text-align: right;
             ul {
                     text-align: right;
                     margin-left: 10px;
                     margin-bottom: 0;
                     display: inline;
                 }
//            .follow-me {
//                display: inline-block;
//                height: 50%;
//            }
        }
        }
}


main, header, footer {
     width: 100%;
     margin: 9px auto;
     @include at-breakpoint($medium) {
         @include single-transition(all, 1s ease-in-out);
         width: 70.67%;   
    }
}