@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
/* line 5, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 26, ../../components/sass/utilities/_helpers.scss */
.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 21, ../../components/sass/layout/_extends.scss */
.nav__item, .nav__item--current {
  display: block;
  margin: 0 em(12px); }
@media screen and (min-width: em(540px)) {
  /* line 21, ../../components/sass/layout/_extends.scss */
  .nav__item, .nav__item--current {
    display: inline-block; } }

/* line 29, ../../components/sass/layout/_extends.scss */
.nav__item a, .nav__item--current a {
  color: palette(grey, xdark);
  font-size: em(20px);
  font-weight: 300;
  font-family: "Permanent Marker", cursive;
  display: block;
  padding: em(10px, 20px); }

/* line 38, ../../components/sass/layout/_extends.scss */
.nav__item a:hover, .nav__item--current a {
  -webkit-border-image: url(../../img/misc/circle5.svg) 1; }

/* line 44, ../../components/sass/layout/_extends.scss */
h1, .headline-primary--grouped, .headline-primary {
  font-size: em(38px);
  line-height: 1.21053;
  margin-bottom: em(68px, 38px);
  margin-top: 0; }

/* line 51, ../../components/sass/layout/_extends.scss */
h2, .headline-secondary--grouped, .headline-secondary {
  font-size: em(24px); }

/* line 58, ../../components/sass/layout/_extends.scss */
.form__button {
  padding: 15px 30px;
  border: 0;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: 400;
  display: block; }
/* line 67, ../../components/sass/layout/_extends.scss */
.form__button:hover {
  opacity: .75; }
/* line 70, ../../components/sass/layout/_extends.scss */
.form__button:active {
  opacity: initial; }

/* line 6, ../../components/sass/base/_base.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, ../../components/sass/base/_base.scss */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Arial"; }

/* line 25, ../../components/sass/base/_base.scss */
h3 {
  color: red; }

/* line 29, ../../components/sass/base/_base.scss */
a {
  text-decoration: none; }

/* line 33, ../../components/sass/base/_base.scss */
p {
  font-size: em(18px);
  line-height: 1.5;
  margin: 0 0 em(30px, 18px); }

/* line 39, ../../components/sass/base/_base.scss */
blockquote {
  font-size: em(24px);
  font-style: italic;
  font-weight: 300;
  margin: em(32px, 24px) 0;
  padding: 0 0 0 5%;
  border-left: solid em(8px, 24px) palette(grey, xxlight); }

/* line 5, ../../components/sass/modules/_nav.scss */
.nav {
  margin-top: em(20px);
  margin-bottom: em(30px); }
/* line 18, ../../components/sass/modules/_nav.scss */
.nav__item--current a {
  -webkit-border-image: url(../../img/misc/circle5.svg) 1; }

/* line 5, ../../components/sass/modules/_headlines.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 1px;
  color: palette(grey, xdark); }

/* line 12, ../../components/sass/modules/_headlines.scss */
.headline-primary {
  margin-bottom: em(70px, 38px); }
/* line 47, ../../components/sass/utilities/_mixins.scss */
.headline-primary--grouped {
  margin-bottom: 0; }
/* line 20, ../../components/sass/modules/_headlines.scss */
.headline-secondary {
  margin-bottom: em(22px, 24px); }
/* line 47, ../../components/sass/utilities/_mixins.scss */
.headline-secondary--grouped {
  margin-top: em(10px, 24px);
  margin-bottom: em(54px, 24px); }

/* line 41, ../../components/sass/utilities/_mixins.scss */
.form__label {
  display: block;
  margin-bottom: em(10px); }
/* line 41, ../../components/sass/utilities/_mixins.scss */
.form__input {
  width: 100%;
  font-size: em(18px);
  padding: em(15px, 18px);
  margin-bottom: em(20px);
  border-bottom: 6px solid palette(grey, xxlight);
  background: palette(grey, xxlight);
  color: palette(black, dark);
  font-weight: 300; }
/* line 23, ../../components/sass/modules/_forms.scss */
.form__input:focus {
  border-color: #ffc100; }
/* line 41, ../../components/sass/utilities/_mixins.scss */
.form__button {
  background-color: #ffc100; }
