@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
/* line 5, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Misc/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 16, ../components/sass/utilities/_helpers.scss */
.grid:after, #portfolio .portfolio-piece:after, #portfolio-expanded:after {
  content: "";
  display: table;
  clear: both; }

/* line 26, ../components/sass/utilities/_helpers.scss */
.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 49, ../components/sass/utilities/_helpers.scss */
.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

/* line 58, ../components/sass/utilities/_helpers.scss */
.panel--centered, .panel--padded--centered {
  text-align: center; }

/* line 6, ../components/sass/base/_base.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  text-shadow: none;
  text-rendering: optimizeLegibility; }

/* line 15, ../components/sass/base/_base.scss */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Georgia", sans-serif;
  overflow-x: hidden;
  background: #f9f9f9;
  background-image: url(../../img/misc/MISC_GraphPaper.png); }

/* line 43, ../components/sass/base/_base.scss */
a {
  text-decoration: none;
  color: rgba(36, 48, 120, 0.9); }

/* line 48, ../components/sass/base/_base.scss */
p {
  line-height: 1.72727;
  margin: 0 0 1.33333em;
  color: #252B33; }

/* line 54, ../components/sass/base/_base.scss */
p, ol li, ul li {
  font-size: 1.375em; }

/* line 58, ../components/sass/base/_base.scss */
ul, ol {
  margin-bottom: 0.625em;
  font-family: "Georgia", sans-serif;
  font-size: 1em; }
@media (min-width: 769px) {
  /* line 58, ../components/sass/base/_base.scss */
  ul, ol {
    padding-left: 2.5em;
    padding-right: 2.5em; } }
/* line 66, ../components/sass/base/_base.scss */
ul li, ol li {
  padding: 0.3125em; }
@media (min-width: 769px) {
  /* line 66, ../components/sass/base/_base.scss */
  ul li, ol li {
    margin-bottom: 0.5em; } }

/* line 74, ../components/sass/base/_base.scss */
ol {
  list-style: decimal; }

/* line 80, ../components/sass/base/_base.scss */
audio {
  width: 80%;
  display: block;
  margin: 1.4375em auto; }

/* line 6, ../components/sass/base/_idsclasses.scss */
.blockquote {
  font-size: 1.25em;
  color: #464646;
  font-weight: 700;
  font-family: "Permanent Marker", cursive;
  margin: 1.23077em 0;
  text-align: center; }
@media (min-width: 769px) {
  /* line 6, ../components/sass/base/_idsclasses.scss */
  .blockquote {
    font-size: 1.75em; } }

/* line 18, ../components/sass/base/_idsclasses.scss */
.blockquote:before {
  content: url(../../img/misc/MISC_BlockLine1.png);
  display: block;
  width: 100%;
  margin: 1.25em auto; }

/* line 25, ../components/sass/base/_idsclasses.scss */
.blockquote:after {
  content: url(../../img/misc/MISC_BlockLine3.png);
  display: block;
  width: 100%;
  margin: 1.25em auto; }

/* line 32, ../components/sass/base/_idsclasses.scss */
img {
  height: auto;
  margin: 0.3125em 0 0.3125em 0; }

/* line 37, ../components/sass/base/_idsclasses.scss */
.font-primary {
  font-size: 1em;
  font-family: "Georgia", sans-serif;
  font-weight: 500;
  letter-spacing: 0; }

/* line 44, ../components/sass/base/_idsclasses.scss */
.italic {
  font-style: italic; }

/* line 48, ../components/sass/base/_idsclasses.scss */
.bold {
  font-weight: 700; }

/* line 52, ../components/sass/base/_idsclasses.scss */
.blue {
  color: rgba(36, 48, 120, 0.9); }

/* line 56, ../components/sass/base/_idsclasses.scss */
.red {
  color: rgba(253, 95, 103, 0.85); }

/* line 8, ../components/sass/layout/_extends.scss */
.panel, .panel--centered {
  padding-top: 0.25em; }
@media (min-width: 769px) {
  /* line 8, ../components/sass/layout/_extends.scss */
  .panel, .panel--centered {
    padding-bottom: 1.25em; } }

/* line 15, ../components/sass/layout/_extends.scss */
.panel--padded, .panel--padded--centered {
  padding-top: 1.5em; }
@media (min-width: 769px) {
  /* line 15, ../components/sass/layout/_extends.scss */
  .panel--padded, .panel--padded--centered {
    padding-top: 4.0625em;
    padding-bottom: 2.125em; } }

/* line 6, ../components/sass/layout/_footer (Mattbot-X's conflicted copy 2016-02-15).scss */
#social-media ul li {
  display: inline-block; }
@media (min-width: 1px) and (max-width: 768px) {
  /* line 6, ../components/sass/layout/_footer (Mattbot-X's conflicted copy 2016-02-15).scss */
  #social-media ul li {
    display: block;
    width: 8.125em;
    margin: 0 auto; } }

/* line 2, ../components/sass/layout/_footer.scss */
#social-media ul li {
  display: inline-block; }
@media (min-width: 1px) and (max-width: 768px) {
  /* line 2, ../components/sass/layout/_footer.scss */
  #social-media ul li {
    display: block;
    width: 8.125em;
    margin: 0 auto; } }

@media (min-width: 1136px) {
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--1 {
    width: 6.5%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--2 {
    width: 15%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--3 {
    width: 23.5%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--4 {
    width: 32%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--5 {
    width: 40.5%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--6 {
    width: 49%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--7 {
    width: 57.5%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--8 {
    width: 66%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--9 {
    width: 74.5%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--10 {
    width: 83%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--11 {
    width: 91.5%; }
  /* line 92, ../components/sass/utilities/_mixins.scss */
  .grid__col--12 {
    width: 100%; } }

@media (min-width: 1px) and (max-width: 768px) {
  /* line 17, ../components/sass/layout/_grid-columns.scss */
  [class^="grid__col--"] {
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }
@media (min-width: 1136px) {
  /* line 17, ../components/sass/layout/_grid-columns.scss */
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
  /* line 53, ../components/sass/utilities/_mixins.scss */
  [class^="grid__col--"] + [class^="grid__col--"] {
    margin-left: 2%; }
  /* line 29, ../components/sass/layout/_grid-columns.scss */
  [class^="grid__col--"]:last-of-type {
    float: right; } }

/* line 6, ../components/sass/layout/_grid-container.scss */
.grid {
  width: 90%; }
/* line 11, ../components/sass/layout/_grid-container.scss */
[class*="grid__col--"] > .grid {
  width: 100%; }
@media (min-width: 1136px) {
  /* line 6, ../components/sass/layout/_grid-container.scss */
  .grid {
    max-width: 1340px;
    position: relative; } }

@media (min-width: 1136px) {
  /* line 5, ../components/sass/layout/_header.scss */
  .header {
    position: fixed;
    width: 18.125em;
    top: 0.3125em; } }

/* line 41, ../components/sass/utilities/_mixins.scss */
.form__button {
  background-image: url(../../img/misc/MISC_ContactFormSubmit.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent; }

@media (min-width: 769px) {
  /* line 8, ../components/sass/modules/_extends.scss */
  .nav__item, .nav__item--current {
    display: inline-block;
    margin: 0 1.34375em; } }
@media (min-width: 1136px) {
  /* line 8, ../components/sass/modules/_extends.scss */
  .nav__item, .nav__item--current {
    display: block;
    margin: 0 auto; } }

/* line 19, ../components/sass/modules/_extends.scss */
.nav__item a, .nav__item--current a {
  border: 0.00063em solid transparent;
  color: rgba(36, 48, 120, 0.9);
  font-size: 1.0625em;
  font-weight: 700;
  font-family: "Permanent Marker", cursive;
  display: block;
  text-align: center;
  padding: 0.875em; }
@media (min-width: 1px) and (max-width: 768px) {
  /* line 19, ../components/sass/modules/_extends.scss */
  .nav__item a, .nav__item--current a {
    font-size: 0.875em;
    margin: 0 auto;
    padding-top: 0.77778em;
    padding-bottom: 0.75em;
    max-width: 12.5em; } }
@media (min-width: 769px) {
  /* line 19, ../components/sass/modules/_extends.scss */
  .nav__item a, .nav__item--current a {
    margin: 0 auto; } }
@media (min-width: 1136px) {
  /* line 19, ../components/sass/modules/_extends.scss */
  .nav__item a, .nav__item--current a {
    padding: 0.75em; } }

/* line 46, ../components/sass/modules/_extends.scss */
footer #social-media ul li:hover, .nav__item a:hover, .nav__item--current a, .nav .nav__item--current a, #portfolio .portfolio-piece a.find-out-more:hover, #portfolio-expanded .internal-page-links a:hover {
  border: 0.00063em black;
  box-sizing: border-box;
  border-image: url(../../img/misc/MISC_MarkerCircle.png) 1 fill;
  -o-border-image: url(../../img/misc/MISC_MarkerCircle.png) 1;
  -ms-border-image: url(../../img/misc/MISC_MarkerCircle.png) 1;
  -moz-border-image: url(../../img/misc/MISC_MarkerCircle.png) 1 fill;
  -webkit-border-image: url(../../img/misc/MISC_MarkerCircle.png) 1 fill; }

/* line 59, ../components/sass/modules/_extends.scss */
#portfolio .portfolio-piece {
  border: 0.625em black;
  border-style: inset;
  -webkit-border-image: url(../../img/misc/MISC_MarkerRectangle.svg) 1 fill;
  -ms-border-image: url(../../img/misc/MISC_MarkerRectangle.svg) 1;
  -o-border-image: url(../../img/misc/MISC_MarkerRectangle.svg) 1;
  border-image: url(../../img/misc/MISC_MarkerRectangle.svg) 1 fill;
  -moz-border-image: url(../../img/misc/MISC_MarkerRectangle.svg) 20 repeat;
  box-sizing: border-box; }

/* line 72, ../components/sass/modules/_extends.scss */
h1, .headline-primary--grouped, .headline-primary {
  font-size: 1.75em;
  line-height: 0.87273;
  margin-bottom: 0.63158em;
  margin-top: 0.4em; }
@media (min-width: 769px) {
  /* line 72, ../components/sass/modules/_extends.scss */
  h1, .headline-primary--grouped, .headline-primary {
    margin-top: 0.96875em;
    font-size: 2.75em;
    line-height: 0.8; } }
@media (min-width: 1136px) {
  /* line 72, ../components/sass/modules/_extends.scss */
  h1, .headline-primary--grouped, .headline-primary {
    margin-top: 0.4em;
    line-height: 0.90441; } }

/* line 88, ../components/sass/modules/_extends.scss */
h2, .headline-secondary--grouped, .headline-secondary {
  font-size: 1.625em; }
@media (min-width: 769px) {
  /* line 88, ../components/sass/modules/_extends.scss */
  h2, .headline-secondary--grouped, .headline-secondary {
    margin-top: 0.25em;
    font-size: 2.625em;
    line-height: 0.8; } }

/* line 97, ../components/sass/modules/_extends.scss */
h3, .headline-tertiary--grouped, .headline-tertiary, .headline-quaternary--grouped, .headline-quaternary {
  font-size: 1.375em; }

/* line 101, ../components/sass/modules/_extends.scss */
h4 {
  font-size: 1.375em; }

/* line 108, ../components/sass/modules/_extends.scss */
.form__button {
  padding: 2px 30px;
  border: 0;
  margin-top: 1.5em;
  color: #313131;
  font-family: "Permanent Marker", cursive;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.625em;
  font-weight: 700;
  display: block; }
/* line 119, ../components/sass/modules/_extends.scss */
.form__button:hover {
  opacity: .75;
  color: #010101; }
/* line 123, ../components/sass/modules/_extends.scss */
.form__button:active {
  opacity: initial; }
/* line 126, ../components/sass/modules/_extends.scss */
.form__button + .form__button {
  margin-top: 1.5625em; }

/* line 2, ../components/sass/modules/_footer.scss */
footer p {
  font-family: "Permanent Marker", cursive;
  color: #464646;
  margin: 0 auto;
  font-weight: 700; }
/* line 9, ../components/sass/modules/_footer.scss */
footer #social-media ul li {
  border: 0.00063em solid transparent; }
/* line 11, ../components/sass/modules/_footer.scss */
footer #social-media ul li a p {
  padding: 0.625em;
  font-size: 0.875em;
  color: rgba(36, 48, 120, 0.9); }
@media (min-width: 769px) {
  /* line 11, ../components/sass/modules/_footer.scss */
  footer #social-media ul li a p {
    font-size: 1.125em; } }

/* line 41, ../components/sass/utilities/_mixins.scss */
.form__label {
  display: block;
  margin-bottom: 0.625em; }
/* line 41, ../components/sass/utilities/_mixins.scss */
.form__input {
  width: 100%;
  font-size: 1.1875em;
  font-family: "Georgia", sans-serif;
  padding: 0.83333em;
  margin-bottom: 1.25em;
  border-bottom: 0.1875em solid #d6d7d9;
  border-style: outset;
  background: white;
  color: black;
  font-weight: 300; }
/* line 26, ../components/sass/modules/_forms.scss */
.form__input:focus {
  border-color: rgba(36, 48, 120, 0.9); }

@media (min-width: 1136px) {
  /* line 5, ../components/sass/modules/_header.scss */
  .header {
    position: fixed;
    width: 18.125em;
    top: 0.3125em; } }

/* line 15, ../components/sass/modules/_header.scss */
.fake-draft-text {
  position: absolute;
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  color: #5a5a5a;
  top: 0;
  right: 1.71875em; }
@media (min-width: 769px) {
  /* line 15, ../components/sass/modules/_header.scss */
  .fake-draft-text {
    font-size: 1.125em; } }
@media (min-width: 1136px) {
  /* line 15, ../components/sass/modules/_header.scss */
  .fake-draft-text {
    font-size: 1.28125em; } }

/* line 5, ../components/sass/modules/_headlines.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 2px;
  color: #464646;
  font-weight: 700; }

/* line 13, ../components/sass/modules/_headlines.scss */
.headline-primary {
  margin-bottom: 1.125em; }
/* line 47, ../components/sass/utilities/_mixins.scss */
.headline-primary--grouped {
  margin-bottom: 0.5em; }
/* line 21, ../components/sass/modules/_headlines.scss */
.headline-secondary {
  margin-bottom: 0.375em; }
/* line 47, ../components/sass/utilities/_mixins.scss */
.headline-secondary--grouped {
  margin-bottom: 0.5em; }
/* line 47, ../components/sass/utilities/_mixins.scss */
.headline-quaternary--grouped {
  margin-bottom: 0; }

/* line 5, ../components/sass/modules/_img.scss */
img {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  display: block;
  width: 95%;
  margin: 0.3125em auto; }
@media (min-width: 1px) and (max-width: 768px) {
  /* line 5, ../components/sass/modules/_img.scss */
  img {
    width: 100%; } }

/* line 18, ../components/sass/modules/_img.scss */
#portfolio .portfolio-piece .portfolio-img {
  display: inline;
  width: 13.125em;
  max-width: 70%;
  margin-top: 1.125em;
  padding: 0; }
@media (min-width: 1136px) {
  /* line 18, ../components/sass/modules/_img.scss */
  #portfolio .portfolio-piece .portfolio-img {
    width: 12.5em;
    margin-right: 0.625em;
    margin-top: 2.8125em;
    margin-bottom: 1.25em; } }

/* line 35, ../components/sass/modules/_img.scss */
#portfolio-expanded .header-img {
  min-width: 8.75em;
  width: 24.5%;
  margin-top: -40px; }
@media (min-width: 769px) {
  /* line 35, ../components/sass/modules/_img.scss */
  #portfolio-expanded .header-img {
    margin: -5em auto -3.75em auto; } }
@media (min-width: 1136px) {
  /* line 35, ../components/sass/modules/_img.scss */
  #portfolio-expanded .header-img {
    width: 38.6%;
    margin: 0 auto; } }

/* line 49, ../components/sass/modules/_img.scss */
.icon {
  max-width: 3%;
  display: inline;
  margin: 0; }

/* line 55, ../components/sass/modules/_img.scss */
.scribble_pen1 {
  position: absolute;
  top: 5.5em;
  left: 80.3125em;
  width: 3.625em;
  height: 9.375em; }

/* line 63, ../components/sass/modules/_img.scss */
.scribble_pen2 {
  position: absolute;
  top: 49.1875em;
  left: 24.125em;
  width: 18.75em; }

/* line 70, ../components/sass/modules/_img.scss */
.scribble_ttt {
  position: absolute;
  top: 126.25em;
  left: 71.875em;
  width: 10em;
  height: 9.6875em; }

@media (min-width: 769px) {
  /* line 78, ../components/sass/modules/_img.scss */
  .s-img {
    max-width: 60%; } }

@media (min-width: 769px) {
  /* line 83, ../components/sass/modules/_img.scss */
  .xs-img {
    max-width: 45%; } }

/* line 89, ../components/sass/modules/_img.scss */
.xxs-img {
  min-width: 6.125em;
  max-width: 19%; }

/* line 5, ../components/sass/modules/_nav.scss */
.nav {
  margin-top: 0.3125em;
  margin-bottom: 0.28125em;
  padding: 0; }

@media (min-width: 1136px) {
  /* line 6, ../components/sass/modules/_navbar.scss */
  nav.navbar {
    margin: 0 auto;
    width: 85%; } }
/* line 6, ../components/sass/modules/_portfolio.scss */
#portfolio .portfolio-piece {
  margin-top: 1.375em;
  margin-bottom: 0.625em;
  padding: 1.125em; }
@media (min-width: 1136px) {
  /* line 12, ../components/sass/modules/_portfolio.scss */
  #portfolio .portfolio-piece .portfolio-txt {
    margin-top: 2.125em;
    text-align: left;
    float: right;
    margin-right: 0.375em; } }
/* line 20, ../components/sass/modules/_portfolio.scss */
#portfolio .portfolio-piece a.find-out-more {
  box-sizing: border-box;
  width: 9.53125em;
  padding: 0.5em 0.5em 0.5em 0;
  color: rgba(36, 48, 120, 0.9);
  display: block;
  font-size: 0.9375em;
  font-weight: 700;
  font-family: "Permanent Marker", cursive;
  border: 0.00063em solid transparent;
  margin: 0 auto; }
@media (min-width: 769px) {
  /* line 20, ../components/sass/modules/_portfolio.scss */
  #portfolio .portfolio-piece a.find-out-more {
    width: 11.25em;
    font-size: 1.21875em; } }
@media (min-width: 1136px) {
  /* line 20, ../components/sass/modules/_portfolio.scss */
  #portfolio .portfolio-piece a.find-out-more {
    margin: 0 0 0 -40px;
    padding-left: 1.5em;
    text-align: left; } }
@media (min-width: 1136px) {
  /* line 5, ../components/sass/modules/_portfolio.scss */
  #portfolio {
    margin-left: 13.75em; } }

/* line 51, ../components/sass/modules/_portfolio.scss */
#portfolio-expanded {
  margin-top: 1.125em;
  margin-bottom: 0.75em;
  padding: 1.25em;
  text-align: left; }
/* line 58, ../components/sass/modules/_portfolio.scss */
#portfolio-expanded h3 {
  font-size: 1.625em;
  padding-top: 0.75em;
  padding-bottom: 0.625em; }
@media (min-width: 769px) {
  /* line 58, ../components/sass/modules/_portfolio.scss */
  #portfolio-expanded h3 {
    font-size: 1.75em; } }
/* line 66, ../components/sass/modules/_portfolio.scss */
#portfolio-expanded h4 {
  font-size: 1.375em;
  padding-top: 0.625em;
  padding-bottom: 0.5em; }
/* line 73, ../components/sass/modules/_portfolio.scss */
#portfolio-expanded ul li:before {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  content: "- "; }
/* line 80, ../components/sass/modules/_portfolio.scss */
#portfolio-expanded .internal-page-links {
  box-sizing: border-box;
  font-size: 1.25em; }
@media (min-width: 769px) {
  /* line 80, ../components/sass/modules/_portfolio.scss */
  #portfolio-expanded .internal-page-links {
    font-size: 1.75em; } }
/* line 86, ../components/sass/modules/_portfolio.scss */
#portfolio-expanded .internal-page-links a {
  colour: rgba(36, 48, 120, 0.9);
  border: 0.01px solid transparent;
  padding: 0.4375em;
  box-sizing: border-box; }

@media (min-width: 1px) and (max-width: 768px) {
  /* line 5, ../components/sass/states/_collapsed.scss */
  .is-collapsed.mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

@media (min-width: 1px) and (max-width: 768px) {
  /* line 9, ../components/sass/states/_grid-display.scss */
  .is-hidden-mobile {
    display: none; } }
@media (min-width: 769px) {
  /* line 5, ../components/sass/states/_grid-display.scss */
  .is-displayed-mobile {
    display: none; } }
@media (min-width: 1px) and (max-width: 768px) {
  /* line 5, ../components/sass/states/_grid-display.scss */
  .is-displayed-mobile {
    display: block; } }

@media (min-width: 769px) {
  /* line 22, ../components/sass/states/_grid-display.scss */
  .is-hidden-tablet {
    display: none; } }
@media (min-width: 1136px) {
  /* line 22, ../components/sass/states/_grid-display.scss */
  .is-hidden-tablet {
    display: block; } }
